/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0;
}

.upper-container {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: rgb(199, 199, 199);
}

.scroll-indicator-container {
  position: relative;
  background-color: black;
  height: 10px;
  width: 100%;
}

.scroll-indicator {
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: rgb(201, 56, 56);
  height: 10px;
}

.bottom-data-container {
  width: 100%;
  margin: 0 auto;
}

.bottom-data-container p {
  margin: 30px 0 30px 0;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 300px;
} */
